.key {
  background-color: white;
  height: 150px;
  width: 60px;
  border: 2px solid black;
}

.key.flat {
  position: relative;
  background-color: black;
  margin-left: -17px;
  margin-right: -17px;
  height: 100px;
  width: 30px;
  z-index: 2;
}

.key.pressed, .key.flat.pressed {
  background-color: #4D2DB7;
}

/*
.key-text {
  position: relative;
  color: black;
  font-weight: 600;
  font-size: 30px;
  margin-top: 110px;
  margin-left:5% ;
  pointer-events: none;
}*/