.p h1 {
    text-align: center;
    color: white;
    font-size: 54px;
    
}

.p .container {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.ui-widgets {
    position: relative;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border-radius: 13.5rem;
    margin: 2.25rem;
    border: 2.25rem solid #4D2DB7;
    box-shadow: inset 0 0 7px grey;
    border-left-color: #4D2DB7;
    border-top-color: #4D2DB7;
    border-right-color: #4D2DB7;
    border-bottom-color: white;
    text-align: center;
    box-sizing: border-box;
    margin: 50px auto 3vh;
    margin-left: 1vh;
    
}

.ui-widgets:nth-child(2) {
    border-top-color: #4D2DB7;
    border-right-color: #4D2DB7;
    border-left-color: #4D2DB7;
    border-bottom-color: white;
}


.ui-widgets .ui-values {
    top: 40%;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 2.0rem;
    color: white;
    


}


.ui-widgets .ui-labels {

    
    left: 0;
    bottom: -25px;
    text-shadow: 0 0 4px grey;
    color: black;
    position: absolute;
    width: 100%;
    font-size: 18px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
}
.table-container {
    max-height: 250px; 
    overflow-y: auto;
    
    text-align: center;
    border-radius: 25px;
    width: 90vh;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width: 100%;
    text-align: center;


}

.styled-table thead th {
    background: linear-gradient(159deg, #1E1E1E 0%, #4D2DB7 100%);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    background: linear-gradient(120deg, #000000 40%, #444444 120%);

    color: whitesmoke;

}

.styled-table tbody tr {
    border-bottom: 1px solid whitesmoke;
    
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #4D2DB7;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4D2DB7;
   

    
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #4D2DB7;

}

.styled-table tbody tr:hover {
    background-color: #c7c7c7; 
    font-weight: bold;
    border-bottom: 1px solid #4D2DB7;
}